[flake8]
max-line-length = 125
show-source = true
exclude =
     .git*,
     __pycache__,
     docs/,
     build/,
     dist/,
     *.egg-info,
     .venv/,
     venv/,
     env/
     .vscode
     settings.py
     */migrations/*
per-file-ignores =
     __init__.py: F401
     tests/*: F401
type-checking = true
import-order-style = 'google' 
import-order-file = 'requirements.txt'
